<section class="footer">
  <div class="container-footer">
    <div class="row image-footer">
      <img src="/assets/Aegis.png" alt="Aegis Trophy Dota2" />
    </div>
    <div class="row content-footer">
      <div class="content-news">
        <h3>Want to stay in touch?</h3>
        <h1 class="text-uppercase">Newsletter Subscribe</h1>
        <p class="sub-body">
          In order to start receiving our news, all you have to do is enter your
          email address. Everything else will be taken care of by us. We will
          send you emails containing information about game. We don't spam.
        </p>
      </div>
      <div class="newsletter-input">
        <form class="d-flex">
          <input
            class="form-control me-4"
            type="email"
            placeholder="Enter your email"
          />
          <button class="btn btn-warning btn-sub" type="submit">
            Subscribe Now
          </button>
        </form>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-bot">
      <ul class="list-inline menu-list">
        <li class="list-inline-item"><a href="#main-pg">Home</a></li>
        <li class="list-inline-item"><a href="#games-ch">About</a></li>
        <li class="list-inline-item">
          <a href="#games-ft">Game Features</a>
        </li>
        <li class="list-inline-item">
          <a href="#sy-req">System Requirements</a>
        </li>
        <li class="list-inline-item"><a href="#">Quotes</a></li>
      </ul>
      <ul class="list-inline soc-med">
        <li class="list-inline-item">
          <img src="/assets/facebook.svg" alt="" />
        </li>
        <li class="list-inline-item">
          <img src="/assets/twitter.svg" alt="" />
        </li>
        <li class="list-inline-item">
          <img src="/assets/Vector.svg" alt="" />
        </li>
        <li class="list-inline-item">
          <img src="/assets/twitch.svg" alt="" />
        </li>
      </ul>
    </div>
    <hr class="mt-1 mb-2" />

    <div class="footer-bottom">
      <ul class="list-inline copy-right col-7">
        <li class="list-inline-item">
          <p class="footer-cp">
            &copy;2018 Your Games, Inc. All Rights Reserved
          </p>
        </li>
      </ul>
      <ul class="list-inline terms col-4">
        <li class="list-inline-item"><a href="#">Privacy Policies</a></li>
        <li class="list-inline-item">
          <p href="#">|</p>
        </li>
        <li class="list-inline-item"><a href="#">Terms of Services</a></li>
        <li class="list-inline-item">
          <p href="#">|</p>
        </li>
        <li class="list-inline-item"><a href="#">Code of Conduct</a></li>
      </ul>
    </div>
  </footer>
</section>
