<!--Navigation to go back to main page-->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active back-page" aria-current="page" href="/"><</a>
  </li>
  <li class="nav-item">
    <img
      src="/assets/logo-games.svg"
      alt="games-page-logo"
      class="games-logo"
    />
  </li>
  <li class="nav-item">
    <p>ROCK PAPER SCISSORS</p>
  </li>
</ul>
