<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <form method="POST" action="/api/history/">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="score">Score</label>
            <input
              type="score"
              class="form-control"
              id="score"
              name="score"
              placeholder="score"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="password">User Id</label>
            <input
              type="userId"
              class="form-control"
              id="userId"
              name="userId"
              placeholder="userId"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </main>
  </body>
</html>
