<!DOCTYPE html>
<html lang="en">
  <body>
    <section class="game-content" action="/games">
      <div class="container">
        <!--Firs Row containing Text description -->
        <div class="row">
          <div class="col col-md col-lg">
            <h1>Player</h1>
          </div>
          <div class="col-lg-2"></div>
          <div class="col col-md col-lg">
            <h1>COMPUTER</h1>
          </div>
        </div>
        <!--Firs Row containing Text description -->

        <!--Second Row Image for Rock -->
        <div class="row">
          <div class="col btn-img">
            <img
              src="/assets/batu.png"
              alt="Rock Player"
              class="choice clickable"
              id="rock-player"
            />
          </div>
          <div class="col"></div>
          <div class="col btn-img">
            <img
              src="/assets/batu.png"
              alt="Rock Computer"
              class="choice"
              id="rock-com"
            />
          </div>
        </div>
        <!--Second Row Image for Rock -->

        <!--Third Row Image for Paper and VS text -->
        <div class="row">
          <div class="col btn-img-cust">
            <img
              src="/assets/kertas.png"
              alt="Kertas Player"
              class="choice-cust clickable"
              id="paper-player"
            />
          </div>
          <div class="col">
            <div class="vs" id="vs">
              <p>VS</p>
            </div>
            <div class="result">
              <p id="player-win">PLAYER WIN</p>
            </div>
            <div class="result">
              <p id="draw">DRAW</p>
            </div>
            <div class="result">
              <p id="computer-win">COMPUTER WIN</p>
            </div>
          </div>
          <div class="col btn-img-cust">
            <img
              src="/assets/kertas.png"
              alt="Paper Computer"
              class="choice-cust"
              id="paper-com"
            />
          </div>
        </div>
        <!--Third Row Image for Paper and VS text -->
        <!--Row for Scissors-->
        <div class="row">
          <div class="col btn-img">
            <img
              src="/assets/gunting.png"
              alt="Scissors Player"
              class="choice-cust clickable"
              id="scissors-player"
            />
          </div>
          <div class="col"></div>
          <div class="col btn-img">
            <img
              src="/assets/gunting.png"
              alt="Scissors Computer"
              class="choice-cust"
              id="scissors-com"
            />
          </div>
        </div>
        <!--Row for Scissors-->
        <!--Refresh Button Row-->
        <div class="row">
          <div class="col">
            <img
              src="/assets/refresh.png"
              alt="Refresh Button"
              class="refresh clickable"
              id="refresh"
            />
          </div>
        </div>
        <!--Refresh Button Row-->
      </div>
    </section>
  </body>
</html>
